@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
  background: rgb(224,177,203);
background: radial-gradient(circle, rgba(224,177,203,1) 19%, rgba(190,149,196,1) 39%, rgba(159,134,192,1) 73%, rgba(147,125,183,1) 96%);
}
h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Great Vibes', cursive;
    color: #231942;

  }

h3{

    font-size: 20px;
    font-family: 'Great Vibes', cursive;
    color: #231942;
    text-align: center;

    
  }

  
  h2 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
  }
  
  select, input {
    margin-bottom: 25px;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    border: 0;
  }
  
  span {
    display: inline-block;
    width: 150px;
  }
  #fecha{
    border-radius: 15px;
    background: #5e548e;
    color: white;
    text-align: center;
  }
  #medio-pago{
    border-radius: 15px;
    background: #5e548e;
    color: white;
    text-align: center;
  
  }
  #producto{
    border-radius: 15px;
    background: #5e548e;
    color: white;
    text-align: center;
  }
  #hora-entrega{
    border-radius: 15px;
    background: #5e548e;
    color: white;
    text-align: center;
  }
  #en-cantidad{
    border-radius: 15px;
    background: #5e548e;
    color: white;
    text-align: center;
  }
  #numero-telefono{
    border-radius: 15px;
    background: #5e548e;
    color: white;
    text-align: center;
  }
  #form-box {
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #231942;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
  }
  
  .button {
    font-family: 'Great Vibes', cursive;
    color: #231942;
    background-color: #dccfec;
    position: relative;
    top: 0;
    padding: 20px;
    text-align: center;
    line-height: 24px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
  }

  .button-volver{
    font-family: 'Roboto', sans-serif;
    background-color: #dccfec;
    position: relative;
    top: 0;
    padding: 20px;
    text-align: center;
    line-height: 24px;
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
  }

